body {
  margin: 0px;
  font-family: Cantarell, Arial, sans-serif;
}

#searchTable {
  width: 500px;
  background-color: #32cd32;
  padding: 10px;
  margin: 0px;
  color: #ffffff;
}

#contents {
  width: 100%;
}

.placeholder {
  height: 200px;
  background-image: url("images/idsjmk.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#routes {
  background-color: #000000;
  padding: 0px;
  width: calc(100% - 40px);
  text-align: center;
}

.routeBox {
  color: #32cd32;
  margin: 2px;
  padding: 0px 8px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

#clearData {
  color: #3b3b3b;
  text-decoration: none;
  position: absolute;
  right: 5px;
}

.routeBox a {
  color: #32cd32;
  text-decoration: none;
  display: inline-block;
}

.defaultRoute a {
  color: #ffffff;
  font-weight: bold;
}

#connectionsShowMore {
  padding: 20px 0px 0px 20px;
  max-height: 300px;
  overflow: auto;
}

input[type=text] {
  height: 17px;
  padding: 5px;
  border: 1px solid #ffffff;
  box-sizing: content-box;
  font-family: Cantarell, Arial, sans-serif;
  width: 200px;
  border-radius: 2px;
}

input#date, input#time {
  width: 60px;
}

input[type=submit] {
  color: #ffffff;
  background-color: #32cd32;
  font-weight: bold;
}

input:focus {
  outline: 0px;
}

#fromError, #toError {
  color: #ff0000;
}

#showMore {
  margin-bottom: 15px;
  text-align: center;
  vertical-align: middle;
}

/*
 * Toggle switch
 */

input[type=checkbox] {
  height: 0;
  width: 0;
  display: none;
}

label {
  cursor: pointer;
  width: 44px;
  height: 22px;
  background: #cccccc;
  display: block;
  border: 1px solid white;
  border-radius: 2px;
  position: relative;
  margin-left: 10px;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 2px;
  transition: 0.1s;
}

input:checked + label {
  background: #c0ff60;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

a#search {
  padding-left: 10px;
}
