body {
  margin: 0px;
  font-family: Cantarell, Arial, sans-serif;
}

#searchTable {
  width: 500px;
  background-color: #32cd32;
  padding: 10px;
  margin: 0px;
  color: #ffffff;
}

#searchTable td:not([rowspan="2"]) {
  vertical-align: top;
}

#contents {
  width: 100%;
}

.placeholder {
  height: 200px;
  background-image: url("images/idsjmk.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#routes {
  background-color: #000000;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.routeBox {
  color: #32cd32;
  margin: 2px;
  padding: 0px 8px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.routeBox a {
  color: #32cd32;
  text-decoration: none;
  display: inline-block;
}

.defaultRoute a {
  color: #ffffff;
  font-weight: bold;
}

#connectionsShowMore {
  padding: 20px 0px 0px 20px;
  min-height: 120px;
  max-height: 440px;
  overflow: auto;
}

input {
  height: 17px;
  padding: 5px;
  border: 1px solid #ffffff;
  box-sizing: content-box;
  font-family: Cantarell, Arial, sans-serif;
  width: 200px;
  border-radius: 2px;
}

input#date, input#time {
  width: 60px;
}

input[type=submit] {
  color: #ffffff;
  background-color: #32cd32;
  font-weight: bold;
}

input:focus {
  outline: 0px;
}

#fromError, #toError {
  color: #ff0000;
}

#showMore {
  margin-bottom: 15px;
  text-align: center;
  vertical-align: middle;
}
